/* assets/css/custom.css */
#banner.row.mt-xxl-5.pt-xxl-5.mt-2.pt-2.mb-5 {
  position: relative;
  overflow: hidden;
  padding-top: 66.66% !important; /* 3:2 aspect ratio */
  width: 100%;
  margin-bottom: 2rem !important;
}

#banner.row.mt-xxl-5.pt-xxl-5.mt-2.pt-2.mb-5 img {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
  object-position: center !important;
  max-height: none !important;
  margin: 0 !important; /* Override margin: auto */
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0ZGluIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBIiwiZmlsZSI6InN0ZGluIiwic291cmNlc0NvbnRlbnQiOlsiLyogYXNzZXRzL2Nzcy9jdXN0b20uY3NzICovXG4jYmFubmVyLnJvdy5tdC14eGwtNS5wdC14eGwtNS5tdC0yLnB0LTIubWItNSB7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgcGFkZGluZy10b3A6IDY2LjY2JSAhaW1wb3J0YW50OyAvKiAzOjIgYXNwZWN0IHJhdGlvICovXG4gIHdpZHRoOiAxMDAlO1xuICBtYXJnaW4tYm90dG9tOiAycmVtICFpbXBvcnRhbnQ7XG59XG5cbiNiYW5uZXIucm93Lm10LXh4bC01LnB0LXh4bC01Lm10LTIucHQtMi5tYi01IGltZyB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZSAhaW1wb3J0YW50O1xuICB0b3A6IDAgIWltcG9ydGFudDtcbiAgbGVmdDogMCAhaW1wb3J0YW50O1xuICB3aWR0aDogMTAwJSAhaW1wb3J0YW50O1xuICBoZWlnaHQ6IDEwMCUgIWltcG9ydGFudDtcbiAgb2JqZWN0LWZpdDogY29udGFpbiAhaW1wb3J0YW50O1xuICBvYmplY3QtcG9zaXRpb246IGNlbnRlciAhaW1wb3J0YW50O1xuICBtYXgtaGVpZ2h0OiBub25lICFpbXBvcnRhbnQ7XG4gIG1hcmdpbjogMCAhaW1wb3J0YW50OyAvKiBPdmVycmlkZSBtYXJnaW46IGF1dG8gKi9cbn1cbiJdfQ== */